#encounter {
    .edition-switcher {
        display: flex;
        justify-content: center;
    }
    .edition-switcher button {
        width: 100px;
    }

    #template {
        display: none;
    }

    input,
    select {
        width: 200px;
        display: inline-block;
        padding: 10px;
        margin: 5px;
    }

    table {
        width: 100%;
        color: #58170d;
        border: 0px;
        border-collapse: collapse;
    }

    td {
        text-align: center;
    }

    tr:nth-child(even) {
        background: #bdffcc;
    }

    label {
        display: inline-block;
        width: 175px;
    }

    b {
        line-height: 1.5;
    }

    .inputs {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .encounter {
        width: 400px;
        color: #58170d;
        font-family: "Helvetica Neue", "Open Sans Condensed", sans-serif;
        display: inline-block;
        padding: 20px;
        vertical-align: top;
    }

    .name {
        color: #58170d;
        font-variant: small-caps;
        font-size: 1.4em;
        clear: both;
    }

    .level {
        float: right;
    }

    .action-icon {
        font-family: "ActionIcons";
    }

    .two-column {
        width: 49%;
        display: inline-block;
    }

    .reroll {
        height: 24px;
        display: inline;
    }

    .dice {
        float: right;
        height: 24px;
    }

    .skills {
        display: none;
    }

    .actions {
        color: black;
    }

    .reactions,
    .bonus-actions {
        color: black;
        display: none;
    }

    .spellcasting {
        color: black;
    }
}
