html {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.button-panel {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
}

button {
  line-height: 2.1;
}

body {
  overflow-x: visible;
  font-family: Sans-Serif;
  line-height: normal;
}

.map {
  position: absolute;
  background-attachment: scroll;
  background-color: #F2F2F2;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: content-box;
  margin: 0;
  overflow: hidden;
}

.point-of-interest {
  position: absolute;
  color: white;
  font-size: 20px;
  font-smoothing: antialiased;
  z-index: 1000;
}

.point-of-interest__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 30px;
  z-index: 900;
}

.point-of-interest__pin {
  width: 10px;
  height: 10px;
  padding-right: 5px;
  padding-left: 5px;
  stroke: white;
  fill: black;
}

.searched {
  outline: none;
  border-color: red;
  box-shadow: 0 0 50px red;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}

.grid-row {
  position: relative;
}

.grid-cell {
  display: inline-block;
  margin-top: -4px;
}

.moonfeather .point-of-interest__pin {
  color: red;
  stroke: white;
  fill: red;
}

.venalis .point-of-interest__pin {
  color: green;
  stroke: white;
  fill: green;
}

.giant-slayers .point-of-interest__pin,
.stannis .point-of-interest__pin {
  color: silver;
  stroke: white;
  fill: silver;
}

.giant-lord .point-of-interest__pin,
.zaradae .point-of-interest__pin {
  color: blue;
  stroke: white;
  fill: blue;
}

.harpers-portal .point-of-interest__pin,
.anakis .point-of-interest__pin {
  color: purple;
  stroke: white;
  fill: purple;
}

.pring .point-of-interest__pin {
  color: yellow;
  stroke: white;
  fill: yellow;
}

.select2-container {
  width: 275px;
}

.circle-container {
  display: inline-block;
}

.circle-radius {
  border-radius: 4px 0px 0px 4px;
  line-height: 2.25;
  border: 1px solid #AAAAAA;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0px;
  margin-right: -4px;
  width: 80px;
}

.circle-button {
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #AAAAAA;
  background: #EEEEEE;
  line-height: 1.95;
}

.circle-button:active {
  background: #BBBBBB
}

.outer-circle {
  align-items: center;
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  left: 0px;
  position: static;
  top: 50px;
  z-index: 200;
}

.second-circle {
  align-items: center;
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.center-cirle {
  background: rgba(255, 0, 0, 0.3);
  border-radius: 2px;
  border: 2px solid black;
  height: 1px;
  width: 1px;
}

.hidden {
  display: none;
}
