#npcs {
  line-height: 1.2;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;

  b {
    line-height: 1.5;
  }

  p {
    margin-bottom: 2px;
  }

  span {
    font-style: italic;
    text-decoration: underline;
  }

  .campaign-logger {
    color: #d16a0f;
  }
}
