@font-face {
    font-family: BookSanity;
    src: url("/assets/fonts/Bookinsanity.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: BookSanity;
    src: url("/assets/fonts/Bookinsanity Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: BookSanity;
    src: url("/assets/fonts/Bookinsanity Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: BookSanity;
    src: url("/assets/fonts/Bookinsanity Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: NodestoCaps;
    src: url("/assets/fonts/Nodesto Caps Condensed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: NodestoCaps;
    src: url("/assets/fonts/Nodesto Caps Condensed Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: NodestoCaps;
    src: url("/assets/fonts/Nodesto Caps Condensed Italic.otf")
        format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: NodestoCaps;
    src: url("/assets/fonts/Nodesto Caps Condensed Bold Italic.otf")
        format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: ScalySans;
    src: url("/assets/fonts/Scaly Sans.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ScalySans;
    src: url("/assets/fonts/Scaly Sans Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: ScalySans;
    src: url("/assets/fonts/Scaly Sans Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: ScalySans;
    src: url("/assets/fonts/Scaly Sans Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: ScalySansSmallCaps;
    src: url("/assets/fonts/ScalySansCaps-fixed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ScalySansSmallCaps;
    src: url("/assets/fonts/ScalySansCaps-Bold-fixed.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: ScalySansSmallCaps;
    src: url("/assets/fonts/ScalySansCaps-Italic-fixed.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: ScalySansSmallCaps;
    src: url("/assets/fonts/ScalySansCaps-BoldItalic-fixed.otf")
        format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Solberry;
    src: url("/assets/fonts/Solbera Imitation.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MrJeeves;
    src: url("/assets/fonts/Mr Eaves Small Caps.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Genesys;
    src: url("/assets/fonts/Genesys.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Genesys1;
    src: url("/assets/fonts/EotE_Symbol-Regular_v1.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Bebas Neue;
    src: url("/assets/fonts/BebasNeue Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Bebas Neue;
    src: url("/assets/fonts/BebasNeue Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Pathfinder-Icons";
    src: url("/assets/fonts/Pathfinder-Icons.ttf");
}

@font-face {
    font-family: "ActionIcons";
    src: url("/assets/fonts/action_icons.eot");
    src: url("/assets/fonts/action_icons.woff2") format("woff2"),
        url("/assets/fonts/action_icons.woff") format("woff"),
        url("/assets/fonts/action_icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
